GOOGLE_CLIENT_ID="key.apps.googleusercontent.com" # replace with your own Google Client ID
GOOGLE_CLIENT_SECRET="GOCSPX-GFKdI_CLIENT_SECRET" # replace with your own Google Client Secret
GATE_REDIS_HOST="127.0.0.1" # replace with your own Redis Host
GATE_DNS_ZONE="soracloud.dev" # replace with your own DNS Zone
GATE_REDIS_PORT=16379 # default is 6379, but for Dev we start redis on 16739
ALLOWED_EMAIL_DOMAINS=abc@dom1.com,def@dom2.com # list of whitelisted domains for signup
WHITELISTED_EMAILS=abc@dom3.com,def@dom4.com # add users of domain who are not part of ALLOWED_EMAIL_DOMAINS
