<h1>Editing configuration</h1>

<%= render "form", configuration: @configuration %>

<br>

<div>
  <%= link_to "Show this configuration", @configuration %> |
  <%= link_to "Back to configurations", configurations_path %>
</div>
