
<% if @current_user.vpn_devices.empty? %>
  <div class="container my-5">
    <div class="bg-body-tertiary p-5 rounded">
      <div class="col-sm-8 py-5 mx-auto">
        <h3 class="fw-normal">You don't have any devices</h3>
        <p>Let's get started.</p>
        <p>
          <a class="btn btn-primary" href="/vpn_devices/new" role="button">Let's add a device</a>
        </p>
      </div>
    </div>
  </div>
<% else %>

  <div class="border-primary rounded-3">
    <h2>WireGuard Configuration</h2>
    <h6>WireGuard is a modern VPN protocol with state-of-the-art formally verified cryptography while being extremely
      minimal and fast. It is a VPN protocol that is very easy to setup and use. It is also very secure and fast. You can
      read more about WireGuard <a href="https://www.wireguard.com/">here</a></h6>

  </div>
  <hr>

  <h4>Hello! <%= @current_user.name %>, Your VPN Devices</h4>
<%= render 'vpn_devices/vpn_devices', vpn_devices: @current_user.vpn_devices %>
<% end %>

