<h2> 
Hello! <%= @current_user.name %> 
</h2>
<hr/>

  <div class="container my-5">
    <div class="bg-body-tertiary p-5 rounded">
      <div class="col-sm-8 py-5 mx-auto">
        <h3 class="fw-normal">You don't have any devices</h3>
        <p>lets get started
        <p>
          <a class="btn btn-primary" href="/vpn_device/new" role="button">Let's add a device</a>
        </p>
    </div>
    </div>
  </div>


