<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <div class="container-sm">
    <a class="navbar-brand" href="/">GATE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
     
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <% if current_user.admin? %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vpn_devices">Devices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/vpn_configurations">Configuration</a>
          </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link"  href="/logout">Logout</a>
          </li>
        </ul>
   
    
    </div>
  </div>
</nav>
