<table class="table table-striped table-hover table-dynamic">
  <thead class="thead-dynamic">
  <tr>
    <th>User</th>
    <th>VPN Device</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @vpn_devices.each do |vpn_device| %>
    <tr>
      <td><%= vpn_device.user.name %></td>
      <td><%= link_to vpn_device.description, vpn_device %></td>

      <td><%= link_to 'Destroy', vpn_device, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
