<h1>Editing vpn device</h1>

<%= render "form", vpn_device: @vpn_device %>

<br>

<div>
  <%= link_to "Show this vpn device", @vpn_device %> |
  <%= link_to "Back to vpn devices", vpn_devices_path %>
</div>
