<p style="color: green"><%= notice %></p>

<h4>Listing all vpn devices</h4>
<hr/>
<div id="vpn_devices"> 

    <% @vpn_devices.each do |vpn_device| %>
      <%= render vpn_device %>
    <% end %>
</div>