<h1>New vpn device</h1>

<%= render "form", vpn_device: @vpn_device %>

<br>

<div>
  <%= link_to "Back to my devices", my_devices_path, class: 'btn btn-secondary' %>
  <%= link_to "Back to all devices", vpn_devices_path, class: 'btn btn-outline-secondary' %>
</div>
