<div class="page-header">
  <div>
    <h3>New Device</h3>
    <div class="page-header-subtitle">Add a new VPN device</div>
  </div>
  <div class="d-flex gap-2">
    <%= link_to my_devices_path, class: 'btn btn-outline-secondary btn-sm' do %>
      <i class="bi bi-arrow-left"></i> My Devices
    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= render "form", vpn_device: @vpn_device %>
  </div>
</div>
