<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <a type="button" class="btn btn-lg btn-outline-success" href="/auth/google_oauth2">Sign in with Google</a>
</div>
