<h1>Editing configuration</h1>

<%= render "form", vpn_configuration: @vpn_configuration %>

<br>

<div>
  <%= link_to "Show this vpn_configuration", @vpn_configuration %> |
  <%= link_to "Back to vpn_configurations", vpn_configurations_path %>
</div>
