<p style="color: green"><%= notice %></p>

<h1>vpn_configurations</h1>

<div id="vpn_configurations">
  <% @vpn_configurations.each do |vpn_configuration| %>
    <%= render vpn_configuration %>
    <p>
      <%= link_to "Show this vpn_configuration", vpn_configuration %>
    </p>
  <% end %>
</div>

<%= link_to "New vpn_configuration", new_vpn_configuration_path %>
